div#game.future
    h2
        span(class="team #{team_nicknames.away}")
            span.team-name #{team_full_names.away}
        span(class="team #{team_nicknames.home}")
            span.team-name #{team_full_names.home}
    h3 This game takes place on #{game_date}.
    h4 Check back after the game!